name: "Pull Request"
on: [pull_request]
permissions: read-all

jobs:
  danger:
    permissions:
      issues: write
      discussions: write
      pull-requests: write
    runs-on: macos-latest
    steps:
    - name: Checkout target branch
      uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      with:
        ref: ${{ github.base_ref }}
    - name: Build
      run: xcodebuild -scheme BugsnagPerformance-iOS -destination generic/platform=iOS -configuration Release -quiet -derivedDataPath $PWD/DerivedData.old VALID_ARCHS=arm64
    - name: Checkout pull request merge branch
      uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      with:
        clean: false
        fetch-depth: 100
    - name: Build
      run: xcodebuild -scheme BugsnagPerformance-iOS -destination generic/platform=iOS -configuration Release -quiet -derivedDataPath $PWD/DerivedData.new VALID_ARCHS=arm64
    - name: Install dependencies
      run: brew install bloaty && gem install danger
    - name: Run danger
      run: danger
      env:
        DANGER_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
